@import "reset";
@import "variables/global";
@import "themes/normalTheme.scss";
@import "themes/darkTheme.scss";

.app { 
    font: var(--font-m);

    background: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;
}