.app.normal { 
    --bg-color: #e8e8ea;
    --inverted-bg-color: #5d5dbc;
    
    --primary-color: #022bb2;
    --secondary-color: #04ff04;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}